@charset "UTF-8";	


ul{
	margin-top:10px;
	padding: 0;
}
	.wrap {				
		width: 100%;
		height: 100%;
		padding-top: 10px;
		background: url("../img/trianglify.png");
		background-size: cover;
	}
	
	.border {
		width: 400px;
		height: 400px;
		border: 3px solid #999999;
		margin: 100px auto; 
		
	}
	.content {		
		/* margin: auto; */
		/* padding: auto; */
		color: #7c7c7c;
		/* margin-bottom: 100px; */
	}
	
	.title {
		font-size: 40px;
		padding-top: 50px;
		margin-bottom: 10px;
		text-align: center;
	}
	
	.text {
		font-size: 16px;
		margin-bottom: 50px;
		text-align: center;
	}	

	
	.button{	
		width: 57%;
		background: none;
	    border: 1px solid #636363;
	    border-radius: 5px;
	    color: #636363;
	    display: block;
	    font-size: 1em;
	    font-weight: bold;
	    margin: 1.5em auto;
	    padding: 1em 2em;
	    position: relative;
	}
	
	.top-button {
		background-color: #636363;
		color: #ffffff;
	}
	
	/* .member {
		margin-top:20px;
		padding: 0;
		text-align: -webkit-center;
		color: #10304b;	
		font-size: 10px;
	} */
	
	/* .member li{
		list-style: none;
		display: inline-block;
		margin-bottom: 30px;			
	} */
	.member li a{
		color: #10304b;	
		font-size: 1.5em;
	}

	/* .notice {			
		border-bottom: 1px solid #5b5f66;
		margin: auto;
	}
	.notice a {
		margin: 20px 0 important;
	}
	 */
	
	body {margin: 0;}

.header {
		padding:0;
		/* background-color: #2f4a77;	 */	
	}
		
/* .menu {		
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
	
.menu li {		
	float: left;
	width: 16.6%;		
}
	
   .menu li a {	   
	display: block;	
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none; 	
	font-size: 14px;
	font-weight: 300;
}   
	
 .menu li a:hover {
	background-color: #5d6d8c;	
}	

 .menu li ul{	 
	display: none;
    position: absolute;
} 
	
.menu li:hover .dropbtn {
	list-style: none;
	width: 20%; 
    text-align: center;
	padding:0;
	background-color: #2f4a77;	
	display: inline-block;
} 

.menu li:hover .dropbtn li {	
	width: 100%; 
	 display: block;
}

.menu li:nth-child(1) {
	margin-right: 100px;
} */

.modal-dialog {
	margin: 150px auto;
    width: 400px;   
}

@media (min-width: 768px){
.modal-dialog {
    margin: 150px auto;
    width: 400px; 
}
}
.modal-header .close {
    margin-top: -25px;
}

.close {   
    font-size: 25px;
}

.form-control {
    margin-bottom: 20px;
}
#Login {
	width: 60%;
	background: none;
	border: 1px solid #adadad;
	border-radius: 5px;
	background-color: #12418c;
	color: #ffffff;
	display: block;
	font-size: 1em;
	font-weight: normal;
	margin: 1.5em auto;
	padding: 1em 2em;
	position: relative;
}

.container {
	padding: 0;
	border-radius: 0;
}

.container-fluid {   
    padding-left: 10%;   
}

.navbar-brand {
	padding-right: 40%;
}

.navbar-nav {
    float: right; 
     width: 80%; 
}

.navbar-nav li{   
  width: 20%;
}

@media (max-width: 767px) {
  .container {
	width: 100%;
  }	
  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #12418c;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    background-color: #ccc;
    border-radius: 0;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
     width:100%;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }
	.navbar-nav {
	    float: right; 
	     width: 80%; 
	}
	
	.navbar-nav li{   
	  width: 20%;
	}
	.loginbtn {	
		width:20%;	
	}
}

.loginbtn {
	margin: 10px 0;
	width:20%;
	height: 30px;
	border : 1px solid #12418c;
	border-radius: 15px;
	color: #12418c;
	background-color: transparent;
	font-weight: bold;
}

.loginbtn:hover {
	/* margin: 10px 0;
	width:20%;
	height: 30px;
	border : 1px solid #12418c;
	border-radius: 15px; */
	color: #ffffff;
	background-color: #12418c;
	/* font-weight: bold; */
}
 
@media (min-width: 768px) {
  .container {
	width: 100%;
  }		
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
  .navbar-nav {
    float: right; 
     width: 80%; 
  }

	.navbar-nav li{   
	  width: 20%;
	}
	.loginbtn {	
	width:20%;	
	}
}